<br />
<br />
<br />
<div class="border">
    <form [formGroup]="form" class="form">
        <mat-form-field class="full-width">
            <input matInput placeholder="IEEE Xplore Api Key" formControlName="ieeeXplore">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Web of Science Api Key" formControlName="webOfScience">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Scopus Api Key" formControlName="scopus">
        </mat-form-field>
    </form>
    <button mat-raised-button color="primary" (click)="saveKeys()">SAVE</button>
</div>