table {
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

td {
    font-size: 12px;
}

th {
    font-size: 14px;
}

.number {
    text-align: center;
}