<section>
  <br />
  <div style="width: 510px;">
    <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
      <mat-chip selected color="warn" style="text-align: center;"><i>Case your string is generic (returns more than
          3,500 papers) the web browser may
          crash!</i></mat-chip>
    </mat-chip-list>
  </div>
  <br />
  <br />
  <button mat-raised-button color="primary" (click)="update()">UPDATE SUMMARY</button>
  <br />
  <br />
  <button mat-raised-button (click)="download()">GENERATE CSV</button>
  <br />
  <br />
</section>
<section>
  <div [chart]="chart"></div>
  <div [chart]="chartPaperType"></div>
  <!-- <div [chart]="yearChart"></div>
  <div [chart]="chart"></div> -->
  <h3>1) Summary by Source</h3>
  <table>
    <tr>
      <th><b>SOURCE</b></th>
      <th class="number"><b>TOTAL</b></th>
      <th class="number"><b>FREQUENCY (%)</b></th>
    </tr>
    <tr>
      <td>ACM DL</td>
      <td class="number">{{ sumSummarySource('ACM DL') }}</td>
      <td class="number">{{ percentSummarySource('ACM DL') }}</td>
    </tr>
    <tr>
      <td>Springer Link</td>
      <td class="number">{{ sumSummarySource('Springer') }}</td>
      <td class="number">{{ percentSummarySource('Springer') }}</td>
    </tr>
    <tr>
      <td>Science Direct</td>
      <td class="number">{{ sumSummarySource('Science Direct') }}</td>
      <td class="number">{{ percentSummarySource('Science Direct') }}</td>
    </tr>
    <tr>
      <td>Scopus</td>
      <td class="number">{{ sumSummarySource('Scopus') }}</td>
      <td class="number">{{ percentSummarySource('Scopus') }}</td>
    </tr>
    <tr>
      <td>TOTAL</td>
      <td class="number">{{ getTotal() }}</td>
      <td class="number">100%</td>
    </tr>
  </table>
</section>

<br />
<br />
<section>
  <h3>2) Summary by Search Type</h3>
  <table>
    <tr>
      <th><b>TYPE</b></th>
      <th class="number"><b>TOTAL</b></th>
      <th class="number"><b>FREQUENCY (%)</b></th>
    </tr>
    <tr>
      <td>Title</td>
      <td class="number">{{ sumSummaryType('Title') }}</td>
      <td class="number">{{ percentSummaryType('Title') }}</td>
    </tr>
    <tr>
      <td>Abstract</td>
      <td class="number">{{ sumSummaryType('Abstract') }}</td>
      <td class="number">{{ percentSummaryType('Abstract') }}</td>
    </tr>
    <tr>
      <td>Keywords</td>
      <td class="number">{{ sumSummaryType('Keyword') }}</td>
      <td class="number">{{ percentSummaryType('Keyword') }}</td>
    </tr>
    <tr>
      <td>Title, Abstract, and Keywords</td>
      <td class="number">{{ sumSummaryType('Title, Abstract, and Keywords') }}</td>
      <td class="number">{{ percentSummaryType('Title, Abstract, and Keywords') }}</td>
    </tr>
    <tr>
      <td>TOTAL</td>
      <td class="number">{{ getTotal() }}</td>
      <td class="number">100%</td>
    </tr>
  </table>
</section>

<br />
<br />
<section>
  <h3>3) Summary of repeated articles</h3>
  <table>
    <tr>
      <th class="number"><b>TOTAL</b></th>
      <th class="number"><b>REPEATEDS</b></th>
      <th class="number"><b>RESULT</b></th>
    </tr>
    <tr>
      <td class="number">{{ getTotal() }}</td>
      <td class="number">{{ sumRepeateds() }}</td>
      <td class="number">{{ getTotal() - sumRepeateds() }}</td>
    </tr>
  </table>
</section>